.messages {
    display: flex;
    flex-direction: column;
    flex: 0.65;
}

.messages__header {
    padding-left: 15px;
    background-color: white;
    border-top-right-radius: 4px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.btnBack {
    display: none;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.messages__headerInfo {
    flex: 1;
    padding-left: 10px;
}

.messages__headerInfo > h3 {
    margin: 0;
    font-size: calc(16px + 4 * ((100vw - 320px) / (1920 - 320)));
}

@media (max-width: 767px) {
    .messages__headerInfo > h3{
        font-size: calc(16px + (4 + 4*0.7) * ((100vw - 320px)/ 1024));
    }
}

.messages__headerInfo > p {
    color: gray;
    margin: 0;
}

.messages__body {
    flex: 1;
    background-color: rgb(200, 200, 200);
    padding: 15px;
    overflow-y: scroll;
}

.messages__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-top: 1px solid lightgray;
}

.messages__footer > form {
    flex: 1;
    display: flex;
}

.messages__footer > form > input{
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
}
/* 
.messages__footer > form > button{
    display: none;
} */

.messages__footer > .MuiSvgIcon-root {
    color: gray;
}

@media (max-width: 560px) {
    .messages {
        flex: 1;
    }
    .btnBack {
        display: block;
    }
    .emoji {
        display: none !important;
    }
}