.messages__item {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-wrap: break-word;
    padding: 10px;
    width: fit-content;
    max-width: 250px;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }

    .message__timestamp {
        align-self: flex-end;
        font-size: xx-small;
    }

    .message__name {
        position: absolute;
        top: -15px;
        font-weight: 800;
        font-size: xx-small;    
    }
}

.messages__receiver {
    margin-left: auto;
    background-color: #dcf8c6;
}