.home-page {
    padding-bottom: 15px;
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.home-page__inner {
    margin: 0 auto;
    display: flex;
    max-width: 600px;
    flex-direction: column;
}

.element {
    margin: 15px;
    margin-bottom: 0;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #e7e8ec;
}

.card-header {
    display: flex;
    width: 100%;
    padding: 4px;
    border-bottom: 1px solid #e7e8ec;

    .MuiAvatar-root {
        width: 32px !important;
        height: 32px !important;
        margin-right: 10px;
    }

    a {
        align-self: center;
        display: inline-flex;
        flex-direction: row;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    p {
        height: 22px;
        align-self: center;
        color: black;
    }
}

.card-image img {
    width: 100%;
}

.card-content {
    padding: 8px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e7e8ec;
    align-items: flex-start;
 
    .comments {
        height: auto;
        max-height: 42px;
        overflow: hidden;
    }

    .show-comments {
        max-height: 150px;
        overflow: auto;
    }

    .show-comments-btn {
        font-size: 13px;
        color: #8e8e8e;
        cursor: pointer;
    }

    .timestamp {
        margin-top: 5px;
        font-size: 11px;
        color: #8e8e8e;
    }
}

.new-comment {
    position: relative;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .emojicon {
        flex: .06;
        color: #8e8e8e;
        cursor: pointer;
    }

    input {
        flex: .74;
        padding: 5px;
        border: none;
    }

    input:focus {
        outline: none;
    }

    button {
        cursor: pointer;
        flex: .2;
        border: none;
        background: none;
        color: blue;
    }

    button:disabled {
        opacity: .3;
    }

    button:focus {
        outline: none;
        background: none;
    }
}

@media(max-width: 800px) {
    .element {
        margin: 10px;
        margin-bottom: 0;
    }
}

@media(max-width: 600px) {
    .element {
        margin: 6px;
        margin-bottom: 0;
    }
    .new-comment .emojicon {
        display: none;
    }
}

// @media screen {
//     .new-comment .emojicon {
//         display: none;
//     }
// }