.profile-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.profile__info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px;
    border-bottom: 1px solid rgb(194, 194, 194);

    .avatar {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        flex: .7;

        .name-settings {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;


            * {
                font-weight: normal;
                margin-right: 20px;
            }

            button {
                font-weight: normal;
                font-size: 20px;
                background: none;
                border: none;
                cursor: pointer;

                &:hover {
                    outline: none;
                }
            }
        }

        .attributes {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            >* {
                font-weight: normal;
                cursor: pointer;
            }

            h3:not(last-child) {
                margin-right: 20px;
            }
        }
    }
}

.profile__gallery {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    >* {
        flex: 0 0 33.3333%;

        >div {
            height: 0;
            padding-top: 100%;
            overflow: hidden;
            position: relative;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
            }
        }
    }
}

.newPostWindow {
    padding: 20px;
    width: 400px;
    height: 400px;
    background-color: burlywood;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.closeWindow {
    width: 40px;
    height: 40px;
    background-color: rgb(78, 58, 31);
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.newPostBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 700px) {
    .profile__info {
        .avatar {
            width: 100px;
            height: 100px;
        }
    }
}