.profile-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.mobile-attributes {
    display: none;
}

.profile__info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px;
    border-bottom: 1px solid rgb(194, 194, 194);

    .avatar {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: .7;

        .name-settings {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            height: 40px;
            margin-bottom: 10px;

            h1 {
                text-align: center;
            }

            div i {
                font-size: 35px;
                cursor: pointer;
                color: rgb(51, 51, 51);
            }

            >*:not(:last-child) {
                font-weight: 500;
                margin-right: 20px;
            }

            >div {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                position: relative;
                justify-content: center;

                >*:first-child {
                    margin-right: 7px;
                }

                >button {
                    border: 1px solid rgb(194, 194, 194);
                    padding: 1px 3px;
                    background-color: white;
                    border-radius: 4px;
                    cursor: pointer;
                    font-size: 15px;
                }

                .new-message {
                    position: absolute;
                    top: 100%;
                    height: 50px;
                    width: 250px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    box-shadow: 0 0 10px rgba(0,0,0,0.5);
                    border-radius: 20px;

                    input {
                        padding: 5px;
                        padding-left: 10px;
                        border: none;
                        border-radius: 20px;
                        width: 100%;
                    }
                
                    input:focus {
                        outline: none;
                    }
                
                    button {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        flex: .1;
                        border: none;
                        color: #444444;
                        border-radius: 20px;
                        margin-right: 10px;
                        background: none;
                    }
                
                    button:disabled {
                        i {
                            color: rgb(184, 168, 168);
                    
                        }
                    }
                
                    button:focus {
                        outline: none;
                        background: none;
                    }
                }
            }
        }

        .attributes {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            >* {
                font-weight: normal;
                cursor: pointer;
            }

            h3:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}

.profile__gallery {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    >* {
        flex: 0 0 33.3333%;

        >div {
            height: 0;
            padding-top: 100%;
            overflow: hidden;
            position: relative;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
            }
        }
    }
}

.modal-window__close {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(168, 168, 168);
    opacity: .5;
}

.modal-window {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    z-index: 2;

    .close-btn {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 30px; 
        cursor: pointer; 
        margin-top: 5px;
        margin-right: 5px;
    }

    .delete-btn {
        position: absolute;
        top: 0;
        right: 40px;
        font-size: 30px; 
        cursor: pointer; 
        margin-top: 5px;
        margin-right: 5px;
    }

    .element {
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        border: none !important;

        .card-image img {
            display: block !important;
            max-width: 100% !important;
            margin: 0 auto !important;
        }
    }
    
    .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

        h1 {
            margin-bottom: 15px;
        }

        >div {
            display: flex;
            flex-direction: column;
            align-items: center;

            span {
                margin-bottom: 10px;
            }

            input+span {
                margin-top: 15px;
            }

            input[type="text"] {
                font-size: 16px;
                padding: 3px 10px;
                border: 1px solid rgb(194, 194, 194);
                height: 30px;
                width: 100%;
                border-radius: 4px;
            }
        }

        button {
            margin-top: auto;
            margin-bottom: 10px;
            border: 1px solid rgb(194, 194, 194);
            padding: 1px 3px;
            background-color: white;
            border-radius: 4px;
            cursor: pointer;
            font-size: 20px;
        }
    }
}


@media (max-width: 780px) {
    .profile__info {
        padding: 10px;

        .avatar {
            width: 100px;
            height: 100px;
        }
    }
    
    .name-settings {
        justify-content: center !important;
        flex-direction: column !important;
        height: 30px !important;

        h1 {
            margin-right: 10px !important;
            font-size: 25px;
        }
    }

    .attributes {
        display: none !important;
    }

    .mobile-attributes {
        display: flex;
        border-bottom: 1px solid rgb(194, 194, 194);
        padding: 10px 0;
        justify-content: center;
        align-items: center;
        
        >* {
            font-weight: normal;
            cursor: pointer;
        }

        h3:not(:last-child) {
            margin-right: 20px;
        }
    }

    .profile__gallery {
        margin-top: 10px;
    }

    .name-settings > div {
        margin-top: 3px;
    }
}

@media (max-width: 560px) {
    .modal-window {
        max-height: none;
        max-width: none;
    }

    .name-settings {
        h1 {
            margin-right: 0 !important;
        }
        
        >div i {
            padding-top: 5px;
            font-size: 25px !important;
        }
        
        .btn-wrapper {
            display: flex;
            flex-direction: column !important;
            justify-content: center;

            >button {
                align-self: center;
                font-size: 16px !important;
            }

            >button:first-child {
                margin-bottom: 5px;
                margin-right: 0 !important;
            }
        }
    }
}