.dialogs {
    display: flex;
    flex-direction: column;
    width: 35%;
    border-radius: 4px;
    position: relative;
}

.dialogs__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    padding: 5px 10px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background-color: white;
    border-top-left-radius: 4px;

    #search-chats-input {
        font-size: 16px;
        padding: 0 30px;
        border: 1px solid lightgray;
        height: 100%;
        width: 100%;
        border-radius: 20px;
    
        &:focus {
            outline: none;
        }
    }
    
    .search-chats {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
    }
}

.dialogs__items {
    flex: 1;
    background-color: #fff;
    overflow-y: auto;
    border-right: 1px solid lightgray;

    > a {
        text-decoration: none;
        color: black;
    }
}

@media (max-width: 560px) {
    .dialogs {
        position: absolute;
        left: -100%;
        height: 100%;
        width: 100%;
        z-index: 100;
        transition: .5s all ease-in;
    }
}

.show {
    left: 0;
}