.header {
    display: flex;
    justify-content: space-between;
    background-color: cornflowerblue;
    flex: 40px;
    z-index: 100;
}

.label {
    font-size: x-large;
}

.label a{
    text-decoration: none;
}

.header ul{
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-evenly;
}

.header ul li {
    list-style: none;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.header ul li:hover {
    background-color: #4c84ee;
}

.header ul li a {
    text-decoration: none;
    /* height: 100%;
    width: 100%;
    vertical-align: center; */
}
